.*
*.csv
*.iml
*.tgz

tmp
test
tasks
coverage
docs
client
logo
integration-tests

CONTRIBUTING.md
Gruntfile.coffee
credentials
Karma.sublime-*

static/karma.src.js
static/karma.wrapper
test-results.xml
thesis.pdf
mocha-watch.sh
mocha-watch-debug.sh